.bg-light-blue{
    background-color: #EDFDFF;
}
.card-education{
    border-top: 5px solid #446DFF;
    border-bottom: 5px solid #446DFF;
    border-radius: 35px;
}

.card-education .card-text{
    font-size: 24px;
    color: black;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0;
    text-align: left;
}

.card-education .card-body{
    padding: 20px 0 0 0;
}

.card-education .card-img-top{
    padding:10px 20px 20px 20px;
}
.card-education .card-footer{
    padding: 0 25px 20px 25px !important;
}
.btn-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.btn-more a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 160px;
    height: 44px;
    border-radius: 54px;
    color: white;
    background-color: #446DFF;
    font-size: 18px;
    font-weight: 500;
}
.btn-more a:hover{
    color: white;
}
.bg-bookmark{
    background-image: url("../images/bookmark.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}
.bg-bookmark img{
    width: 100%;
}

.bg-bookmark .teacher-decs p{
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
}
.years-steps{
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.years-steps p{
    color: white;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0;
    text-align: left;
}
.years-steps p span{
    display: block;
    margin-bottom: 10px;
}
.bg-bookmark .second-teacher{
    background-image: url("../images/elements-ui.svg");
    background-repeat: no-repeat;
    background-position: 40% 40%;
}

.bg-bookmark .first-teacher{
    background-image: url(../images/elements-ui-2.svg);
    background-repeat: no-repeat;
    background-position: 25% 30%;
}
.form-section{
    position: relative;
}
.form-section:after{
    position: absolute;
    content: "";
    background-image: url(../images/Waves.svg);
    background-repeat: repeat;
    right: 0;
    top: 0;
    height: 100%;
    width: 18px;
    background-size: contain;
}
.steps-cards .card{
    height: 100%;
}
.steps-cards .card .card-title{
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 1rem 2rem 0 2rem;
}
.steps-cards .card .card-body{
   padding-top: 1rem;
    font-size: 17px;
}
.social-contacts{
    display: flex;
    align-items: center;
}
.bi-telegram, .bi-whatsapp{
    cursor: pointer;
    font-size: 25px;
}
.bi-whatsapp{
     margin-left: 10px;
 }
.swiper-navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.swiper-navigation .swiper-button-disabled{
    opacity: 0.5;
}
.swiper-navigation .js-swiper-freemode-button-prev img{
    transform: rotate(180deg);
}
.swiper-navigation .js-swiper-freemode-button-next{
    margin-left: 10px;
}
.swiper-slide img{
    margin-bottom: 20px;
}
.swiper-slide .slide-body p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin-bottom: 10px;
}
.swiper-slide .slide-body span{
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: black;
}
.social-media{
    display: flex;
    align-items: center;
}
.social-media i{
    cursor: pointer;
    font-size: 28px;
    margin-right: 10px;
}
.first-rectangle,.second-rectangle{
    display: flex;
    align-items: center;
    color: white;
    height: 200px;
    position: relative;
    z-index: 1;
}
.first-rectangle span,.second-rectangle span{
    position: relative;
    z-index: 1;
}
.first-rectangle{
    padding: 0 0 0 30px;
    font-size: 30px;
}
.first-rectangle:before{
    background-image: url("../images/first-rectangle.svg");
}
.second-rectangle{
    font-size: 20px;
    padding: 0 50px 0 130px;
}
.second-rectangle:before{
    background-image: url("../images/second-rectangle.svg");
}
.first-rectangle:before, .second-rectangle:before{
    position: absolute;
    content: "";
    height: 200px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.transform-rotate-n180deg .first-rectangle:before{
    transform: rotate(180deg);
}
.transform-rotate-n180deg .second-rectangle:before{
    transform: rotate(180deg);
}
.transform-rotate-n180deg .first-rectangle{
    text-align: right;
    padding: 0 30px 0 0;
    justify-content: flex-end;
}
.transform-rotate-n180deg .second-rectangle{
    padding: 0 120px 0 100px;
}
.skills-cards{
    background-image: url("../images/bookmark-blue.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}
.skills-cards .card .card-body{
    padding: 50px 50px;
}
.skills-cards .card .card-body .card-text{
    color: #1e2022;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.skills-cards .card{
    border-top: 5px solid #446DFF;
    border-bottom: 5px solid #446DFF;
    border-radius: 35px
}
.includes-course{
 position: relative;
}
.includes-course:before{
    position: absolute;
    content: "";
    width:180px;
    height:180px;
    background-image: url("../images/math-operations.svg");
    bottom: 50px;
    right: 50px;
    background-repeat: no-repeat;
}
.includes-course:after{
    position: absolute;
    content: "";
    width:238px;
    height:228px;
    background-image: url("../images/star.svg");
    top: 50px;
    right: 50px;
    background-repeat: no-repeat;
}
.includes-course .step-icon-dark{
 background-color: #446DFF;
}
.includes-course .step-content h4{
    font-weight: 400;
    line-height: 26px;
}

.includes-course-music{
    position: relative;
}
.includes-course-music:before{
    position: absolute;
    content: "";
    width:638px;
    height:540px;
    background-image: url("../images/bg-icons-music.svg");
    bottom: 0;
    right: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}
.includes-course-music:after{
    position: absolute;
    content: "";
    width:238px;
    height:228px;
    background-image: url("../images/star.svg");
    top: 50px;
    right: 50px;
    background-repeat: no-repeat;
}
.includes-course-music .step-icon-dark{
    background-color: #446DFF;
}
.includes-course-music .step-content h4{
    font-weight: 400;
    line-height: 26px;
}
.english-course{
    margin-top: 70px;
}
.english-course .first-rectangle, .english-course .hexagonal, .english-course .second-rectangle{
    height: 250px;
}
.english-course .first-rectangle{
    padding: 0 30px 0 25px;
}
.english-course .first-rectangle span{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
.english-course .hexagonal{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    height: 200px;
}
.english-course .hexagonal span{
    position: relative;
    z-index: 1;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 40px;
}
.english-course .hexagonal:before{
    position: absolute;
    content: "";
    height: 250px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/hexagonal.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.english-course .hexagonal:after{
    position: absolute;
    content: "";
    width: 97px;
    height: 65px;
    top: -28px;
    right: -30px;
    background-image: url("../images/uk.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.english-course .first-rectangle:before, .english-course .first-rectangle:before{
    height: 250px;
}
.english-course .third-rectangle{
    position: relative;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.english-course .third-rectangle span{
    position: relative;
    z-index: 1;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 40px;
    color: white;
}

.english-course .third-rectangle:before{
    position: absolute;
    content: "";
    height: 320px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/third-rectangle.svg");
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
}
.english-course .steable-head{
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0;
    color: #1e2022;
}

.navbar-brand-logo{
    max-width: 13rem !important;
}
